.navbar-uth,.bg-uth{
	background:#5f021f;
}

.uth-logo{
    width:100%;
    max-height:unset!important;
    margin-top:unset!important;
    max-width:70px;
}

.containeruth{
    height: 100px;
    display: flex;
    justify-content: center;
}

.containeruth .navbar-brand{
    margin-top:unset!important;
}

.navbaruth{
    align-self: center;
}